<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usage Information</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"/>
        <link href="/css/sidebar.css" rel="stylesheet"/>

        <script src="https://kit.fontawesome.com/aee18697b0.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    </head>
    <body th:fragment="sidebar">
        <div >
            <!--Main Navigation-->
            <header>
                <!-- Sidebar -->
                <nav id="sidebarMenu" class="sidebar bg-white">
                    <div>
                        <div class="pt-4 ps-4 pe-4">
                            <h4>Admin</h4>
                            <p>admin@gmail.com</p>
                        </div>
                        <hr class="hr" />
                        <div class="list-group list-group-flush mx-3 ">
                            <a
                                href="/"
                                class="list-group-item list-group-item-action py-2 ripple "
                                id="statistical"
                                aria-current="true"
                                >
                                <i class="fas fa-chart-area fa-fw"></i><span class="ms-1">Thống kê</span>
                            </a>
                            <a
                                href="/join-study-area"
                                class="list-group-item list-group-item-action py-2 ripple "
                                id="joinStudyArea"
                                aria-current="true"
                                >
                                <i class="fa-solid fa-right-to-bracket"></i>
                                <span class="ms-1">Vào khu vực học tập</span>
                            </a>
                            <a href="/member" class="list-group-item list-group-item-action py-2 ripple" id="member">
                                <i class="fa-solid fa-users"></i><span class="ms-1">Thành viên</span>
                            </a>

                            <a href="/device" class="list-group-item list-group-item-action py-2 ripple " id="device">
                                <i class="fa-solid fa-laptop"></i>
                                <span class="ms-1">Thiết bị</span></a
                            >
                            <a href="/processing" class="list-group-item list-group-item-action py-2 ripple " id="processing"
                               >
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <span class="ms-1">Xử lý vi phạm</span></a
                            >
                        </div>
                    </div>
                </nav>
                <!-- Sidebar -->
            </header>
            <!--Main Navigation-->
        </div>
        <script>
            var url = window.location.pathname;
            console.log(url);
            var statistical = document.getElementById("statistical");
            var joinStudyArea = document.getElementById("join-study-area");
            var member = document.getElementById("member");
            var device = document.getElementById("device");
            var processing = document.getElementById("processing");

            console.log(device);

            if (url === "/") {
                statistical.classList.add("active");
            } else if (url.startsWith("/join-study-area")) {
                joinStudyArea.classList.add("active");
            } else if (url.startsWith("/member")) {
                member.classList.add("active");
            } else if (url.startsWith("/device")) {
                device.classList.add("active");
            } else if (url.startsWith("/processing")) {
                processing.classList.add("active");
            }
        </script>
    </body>
</html>
