<!DOCTYPE html>
<html th:replace="/fragment/page.html
      :: page('Danh sách thiết bị',~{ :: .content})">
    <div class="content">
        <div th:replace="/fragment/alert.html :: alert"></div>
        <h1 class="my-4">Danh sách thiết bị</h1>

        <div class="mb-3">
            <a href="add-device" class="btn btn-primary">
                <i class="fas fa-plus"></i> Thêm thiết bị
            </a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Mã số thiết bị</th>
                    <th>Tên thiết bị</th>
                    <th>Mô tả</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="device : ${devicesList}">
                    <td th:text="${device.maTB}"></td>
                    <td th:text="${device.tenTB}"></td>
                    <td th:text="${device.moTaTB}"></td>
                    <td class="d-flex">
                        <a th:href="@{/edit-device/{deviceId}(deviceId=${device.maTB})}" class="btn btn-sm btn-info me-2">
                            <i class="fas fa-edit"></i>  
                        </a>
                        <form  th:action="@{/delete-device/{deviceId}(deviceId=${device.maTB})}" method="post">
                            <button class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        function deleteDevice(deviceId) {
            if (confirm("Bạn có chắc chắn muốn xóa thiết bị này?")) {
                fetch('/delete-device/' + encodeURIComponent(deviceId), {method: 'POST'})
                        .then(response => response.text())
                        .then(data => {
                            alert("Xóa thiết bị thành công");
                            location.reload();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
            }
        }
    </script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
