<!DOCTYPE html>
<html th:replace="/fragment/page.html
      :: page('Thành viên' , ~{:: .content})">
    <div class="content">
        <h1 class="my-4">Danh sách thành viên</h1>

        <form class="form-inline d-flex" method="post" action="/member">
            <div class="form-group  mr-2">
                <input class="form-control" type="text" name="keyword" placeholder="Họ tên" th:value="${keyword}"/>
            </div>
            <button class="btn btn-primary ms-2" type="submit">Tìm kiếm</button>
        </form>

        <div class="mb-3 mt-3">
            <a href="add-member" class="btn btn-primary">
                <i class="fas fa-plus"></i> Thêm thành viên
            </a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Mã số thành viên</th>
                    <th>Email</th>
                    <th>Họ tên</th>
                    <th>Khoa</th>
                    <th>Ngành</th>
                    <th>Số điện thoại</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${membersInformationList}">
                    <td th:text="${member.maTV}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.hoTen}"></td>
                    <td th:text="${member.khoa}"></td>
                    <td th:text="${member.nganh}"></td>
                    <td th:text="${member.sdt}"></td>
                    <td>
                        <a th:href="@{/edit-member/{memberId}(memberId=${member.maTV})}" class="btn btn-sm btn-info">
                            <i class="fas fa-edit"></i>  
                        </a>
                        <a href="" class="btn btn-sm btn-danger" th:attr="onclick='deleteMember(\'' + ${member.maTV} + '\')'">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>

        function deleteMember(memberId) {
            if (confirm("Bạn có chắc chắn muốn xóa thành viên này?")) {
                fetch('/delete-member/' + memberId, {method: 'POST'})
                        .then(response => response.text())
                        .then(data => {
                            alert("Xóa thành viên thành công"); // Hiển thị thông báo xóa thành viên thành công
                            location.reload(); // Tải lại trang danh sách thành viên
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
            }
        }
    </script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
