<!DOCTYPE html>
<html th:replace="/fragment/page.html
      :: page('Thêm thiết bị',~{ :: .content})">
    <div class="content">
        <h1>Xử lý vi phạm</h1>   

        <div class="mb-3 mt-3">
            <a href="add-processing" class="btn btn-primary">
                <i class="fas fa-plus"></i> Thêm xử lý
            </a>
        </div>
        <table class='table'>
            <thead>
                <tr>
                    <th>Tên thành viên</th>
                    <th>Hình thức xử lý</th>
                    <th>Ngày xử lý</th>
                    <th>Số tiền</th>
                    <th>Trạng thái xử lý</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="processingList : ${processingList}">
                    <td style="display: none" th:text="${processingList.MaXL}">
                    <td th:text="${processingList.MaTV.HoTen}"></td>
                    <td th:text="${processingList.HinhThucXL}"></td>
                    <td th:text="${processingList.NgayXL}"></td>
                    <td class="amount" th:text="${processingList.SoTien != null && processingList.SoTien != 0 ? #strings.replace(#strings.replace(#numbers.formatCurrency(processingList.SoTien), '¤', 'VND'), ',00', '') : ''}"></td>
                    <td th:text="${processingList.TrangThaiXL == 1 ? 'Đã xử lý' : 'Chưa xử lý'}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="total-amount"><strong>Tổng tiền:</strong>
                <span th:text="${#strings.replace(#strings.replace(#numbers.formatCurrency(totalAmount), '¤', 'VND'), ',00', '')}"></span>
            </div>
        </div>


    </div>
    <script src="/js/Processing.js"></script>
</html>
